.heading-7 {
  padding: 4rem 15rem;
  color: #767f75;
}
.center {
  text-align: center;
}
.head-box7 {
  padding: 3rem 0rem;
}
.head-title7 {
  font-size: 3rem;
}
.flex {
  display: flex;
  margin-top: 2.5rem;
}
.flexg {
  display: flex;
}
.first {
  width: 85%;
  height: 1.5rem;
  background-color: #e5e9f2;
  border-radius: 0rem 1rem 1rem 0rem;
  border: 5px solid #e5e9f2;
  margin-left: -1rem;
}
.second {
  width: 15%;
  height: 1.5rem;
  background-color: #93c13d;
  border-radius: 1rem;
  border: 5px solid #93c13d;
}
.first-5 {
  width: 25%;
  height: 1.5rem;
  background-color: #e5e9f2;
  border-radius: 0rem 1rem 1rem 0rem;
  border: 5px solid #e5e9f2;
  margin-left: -1rem;
}
.second-5 {
  width: 75%;
  height: 1.5rem;
  background-color: #93c13d;
  border-radius: 1rem;
  border: 5px solid #93c13d;
}
.first-6 {
  width: 5%;
  height: 1.5rem;
  background-color: #e5e9f2;
  border-radius: 0rem 1rem 1rem 0rem;
  border: 5px solid #e5e9f2;
  margin-left: -1rem;
}
.second-6 {
  width: 95%;
  height: 1.5rem;
  background-color: #93c13d;
  border-radius: 1rem;
  border: 5px solid #93c13d;
}
.shoot {
  background-color: transparent;
  border: 2px solid #000000;
  margin-top: 3rem;
}
a {
  /* margin-top: 3rem; */
}
span {
  font-size: 2rem;
  padding-left: 1.5rem;
}
input {
  font-size: 2rem;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex2 {
  display: flex;
  margin-top: 2rem;
}
.box {
  width: 30rem;
  height: 5rem;
  margin: 3rem 0rem;
  border: 2px solid #000000;
  border-radius: 5px;
  padding-left: 1rem;
}
.note {
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

@media (max-width: 480.98px) {
  .heading-7 {
    padding: 4rem 1rem;
  }
  .head-title {
    text-align: center;
  }
  .head-title7 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 767.98px) {
  .head-title7 {
    text-align: center;
  }
  .heading-7 {
    padding: 4rem 4rem;
  }
  .head-title {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .heading-7 {
    padding: 4rem 6rem;
  }
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
  .heading-7 {
    padding: 4rem 10rem;
  }
}
